.navbar {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 10px;
    color: white;
}

.nav-list {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin: 0 auto;
}

.nav-item {
    margin: 0;
    padding: 0;
}

.nav-link {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.nav-link:hover {
    text-decoration: underline;
}