.main-container{
    width: 100%;
    min-height: 100vh;
    display:flex;
    flex-direction: column;
}
.main-container >main{
    flex-grow: 1;
}
.main-container header h1{
    text-align:center;
    margin: 20px 0;
    color: #1e90ff;
}